rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /press_releases/{documentId} {
      allow read: if request.auth != null;
      allow write: if false; // WARNING: Review and update this rule!
    }

    match /checklists/{documentId} {
      allow read: if request.auth != null;
      allow write: if false; // WARNING: Review and update this rule!
    }

    match /market_listings/{documentId} {
      allow read: if request.auth != null;
      allow write: if false; // WARNING: Review and update this rule!
    }

    match /users/{documentId} {
      allow read: if request.auth != null;
      allow write: if false; // WARNING: Review and update this rule!
    }

    match /sourcing_requests/{documentId} {
      allow read: if request.auth != null;
      allow write: if false; // WARNING: Review and update this rule!
    }

    match /notifications/{documentId} {
      allow read: if request.auth != null;
      allow write: if false; // WARNING: Review and update this rule!
    }

    match /subscribers/{documentId} {
      allow read: if request.auth != null;
      allow write: if false; // WARNING: Review and update this rule!
    }

  }
}