name: "QC Validator Daily Maintenance"

on:
  schedule:
    # Runs at 01:00 UTC every day.
    - cron: "0 1 * * *"
  workflow_dispatch: # Allows manual triggering from the Actions tab

jobs:
  daily-tasks:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Daily Cron Job
        run: |
          curl --request POST \
            --url 'https://qcval.seosiri.com/api/cron' \
            --header 'Authorization: Bearer ${{ secrets.CRON_SECRET }}'