name: "QC Validator Daily Tasks"

on:
  schedule:
    - cron: "0 1 * * *" # Runs at 1 AM UTC
  workflow_dispatch:

jobs:
  trigger-vercel-cron:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel API Endpoint
        run: |
          curl --request POST \
            --url 'https://qcval.seosiri.com/api/revalidate-sitemap' \
            --header 'Authorization: Bearer ${{ secrets.CRON_SECRET }}'